---
- name: get local user name
  command: whoami
  changed_when: false
  become: false
  register: whoami

- name: get dotfiles
  become: no
  git:
    repo: 'https://github.com/jorp/dotfiles.git'
    dest: "/home/{{ whoami.stdout }}/dotfiles"

- name: install vundle
  become: no
  git:
    repo: 'https://github.com/VundleVim/Vundle.vim.git'
    dest: "/home/{{ whoami.stdout }}/.vim/bundle/Vundle.vim"
- name: add rpmfusion repos 
  dnf:
    name: "{{ item }}"
    state: latest
    disable_gpg_check: yes # not recommended
  loop:
    - http://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm
    - http://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_major_version }}.noarch.rpm
  when: fusion

- name: remove packages
  dnf:
    name: "{{ item }}"
    state: absent
  loop: "{{ remove_packages }}"
  when: remove

- name: patch system
  dnf:
    update_cache: yes
    name: "*"
    state: latest
  when: patch 

- name: install packages
  dnf:
    name: "{{ item }}"
    state: latest
  loop: "{{ install_packages }}"
  when: install

- name: gather package facts
  package_facts:
    manager: auto

- name: download and install mullvad rpm
  block:
    - name: download package
      get_url:
        url: https://mullvad.net/download/app/rpm/latest
        dest: "/tmp"
      register: res

    - name: install package
      dnf:
        name: "{{ res.dest }}"
        disable_gpg_check: yes

    - name: remove package
      file:
        path: reg.dest
        state: absent
  when: "'mullvad-vpn' not in ansible_facts.packages"

- name: setup flatpak
  block:
    - name: point to flathub as remote
      become: no
      flatpak_remote:
        name: flathub
        state: present
        flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
        method: user

    - name: install flatpaks
      become: no
      flatpak:
        name: "{{ item }}"
        state: present
        method: user
      loop: "{{ flatpaks }}"

- name: pip3 pkgs
  pip:
    name:
      - thefuck
      - mps-youtube
      - dbus-python
      - pygobject
